<footer id="contacts">
    <p>📞 Contact us: info@languageschool.com | +380 67 123 4567</p>
    <p>🌐 Follow us:
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">LinkedIn</a>
    </p>
</footer>