@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<section class="hero">
    <h1>@Localizer["HeroTitle"] 🎓</h1>
    <p>@Localizer["HeroSubtitle"]</p>
    <button onclick="location.href='@Url.Action("Register","Account")'">
        @Localizer["HeroButton"]
    </button>
</section>
