@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<section id="whychooseus">
    <details>
        <summary>📢 @Localizer["WhyChooseUsTitle"]</summary>
        <p>@Localizer["WhyChooseUsDescription"]</p>
        <button onclick="location.href='@Url.Action("Register","Account")'">
            @Localizer["WhyChooseUsButton"]
        </button>
    </details>
</section>