<h4>Payments</h4>
<button class="btn btn-outline-primary mb-3">Make a report</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Student</th>
            <th>Group</th>
            <th>Course</th>
            <th>Date of payment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ivan Petrenko</td>
            <td>Group A</td>
            <td>English B2</td>
            <td>2025-10-10</td>
        </tr>
    </tbody>
</table>