<h4>Users Management</h4>
<details class="mb-3">
    <summary>Teachers</summary>
    <div class="border p-3 mb-2">Information about teacher</div>
    <button class="btn btn-sm btn-danger">Ban/Unban</button>
</details>

<details>
    <summary>Students</summary>
    <div class="border p-3 mb-2">Information about student</div>
    <button class="btn btn-sm btn-danger">Ban/Unban</button>
</details>