<h4>Payments</h4>
<table class="table">
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Course</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-10-10</td>
            <td>English B2</td>
            <td>1500 UAH</td>
            <td>Pending</td>
            <td><button class="btn btn-sm btn-info">Upload receipt</button></td>
        </tr>
    </tbody>
</table>