<h4>Upcoming Classes</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Course</th>
            <th>Theme</th>
            <th>Teacher</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-10-20 18:00</td>
            <td>English B2</td>
            <td>Speaking practice</td>
            <td>John Smith</td>
            <td>Planned</td>
        </tr>
    </tbody>
</table>

<div class="mt-4">
    <h5>Calendar</h5>
    <div class="border p-3 text-center">[Calendar widget placeholder]</div>
</div>