<h4>List of classes</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Course</th>
            <th>Theme</th>
            <th>Group</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-10-20 18:00</td>
            <td>English B2</td>
            <td>Speaking practice</td>
            <td>Group A</td>
            <td>Planned</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success mb-3">Set a class in schedule</button>

<div class="border p-3 text-center">[Calendar placeholder]</div>
